body {
    padding: 20px;
    background: #17181a;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
#form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.formElement {
    margin: 5px;
}
input {
    margin: 0 10px 22px 10;
}
button {
    padding: 10px;
}
#modelRunOutcome {
    margin-top: 8px;
}
#averageRuns {
    background-color: #000;
    padding: 30px;
}
/* #avgResults {
} */