#chartWrapper {
    max-height: 100%;
}
/* chartRoot {
    background-color: "white";
    width: 620;
    height: 240;
    border: "1px solid rgba(0,0,0,0.15)";
    transition: "box-shadow 0.3s ease-in-out";
}
toolTip {
    background-color: "white";
    font-family: "Helvetica";
    font-size: 12;
    color: #fff;
    font-weight: "bold";
    box-shadow: "0px 5px 15px rgba(0,0,0,0.1)";
} */